.DS_Store
.editorconfig
.gitattributes
.gitignore
.node-version

Dockerfile
compose.yml

LICENSE
README.md

npm-debug.log*
package-lock.json
package.json

eslint.config.mjs
jest.config.mjs
tsconfig.json
tsconfig.types.json
typedoc.css
typedoc.json
webpack.config.mjs

.git/
.github/

coverage/
docs/
misc/
mock/
node_modules/
src/
test/
