{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": 1,
    "no-constant-condition": 0,
    "no-else-return": 2,
    "radix": 1,
    "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "no-var": 1,
    "no-case-declarations": 0,
    "react/display-name": 0,
    "react/jsx-uses-vars": 2,
    "react/prop-types": 0
  }
}
