body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: var(--base-font-size);
    color: var(--gray);
    line-height: 1.5;
    background-color: var(--gray-lightest);
    min-width: 320px;
}

h1,
h2 {
    margin: 16px 0;
    font-family: "Lucida Grande", "Calibri", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color: var(--gray);
}

h1 {
    font-size: 2rem;
}

a {
    color: var(--assort-color);
    text-decoration: none;
    transition: color ease 0.6s;
}

a:hover {
    color: var(--base-color);
    text-decoration: underline;
}

hr {
    margin: 0 0 16px;
    padding: 0;
    border-top: 1px solid var(--gray-light);
    border-bottom: 1px solid var(--gray-lighter);
}

pre {
    padding: 16px;
    background-color: var(--white);

    /* overflow-x: scroll; */
}

code {
    font-family: "Source Code Pro", monospace;
    color: var(--gray-deep);
}

abbr {
    text-decoration: none;
}

table {
    margin: 16px auto 32px;
    border: 1px solid var(gray-light);
    width: 100%;
}

caption {
    margin-bottom: 8px;
    font-family: "Lucida Grande", "Calibri", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--gray);
}

thead th {
    border: 1px solid var(--gray-light);
    padding: 8px 0;
    font-size: 1.25rem;
    font-weight: lighter;
    color: var(--white);
    text-align: center;
    text-shadow: -1px -1px 1px var(--black);
    background-color: var(--black-light);
}

tbody th {
    padding: 8px;
    border: 1px solid var(--gray-light);
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
}

td {
    padding: 16px;
    border: 1px solid var(--gray-light);
    font-size: 1rem;
}

td dd {
    margin-left: 16px;
}
