body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: var(--base-font-size);
    color: var(--gray);
    line-height: 1.5;
    background-color: var(--gray-lightest);
    min-width: 320px;
}

a {
    color: var(--assort-color);
    text-decoration: none;
    transition: color ease 0.6s;
}

a:hover {
    color: var(--base-color);
    text-decoration: underline;
}
