.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.image-link:hover,
.image-link:focus,
.image-link:active {
    text-decoration: none;
}

.list-marker li,
.list-marker dt {
    margin: 16px 0;
}

.list-marker li::before,
.list-marker dt::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    border-top: 10px solid transparent;
    border-left: 15px solid var(--gray);
    border-bottom: 10px solid transparent;
    vertical-align: -4px;
}

.component-title {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: row nowrap space-between center;
    flex: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;

    /*
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    */
}

.component-title h1 {
    -webkit-flex-grow: 40;
    flex-grow: 40;
}

.type,
.returns,
.applicable {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-size: 16px;
    font-style: italic;
}

.type > span,
.returns > span,
.applicable > span {
    color: var(--assort-color);
}

.argument-type,
.param-type {
    font-size: 16px;
    font-style: italic;
    color: var(--assort-color);
}

dl dt .argument-type,
dl dt .param-type {
    margin-left: 8px;
}

.codepen {
    margin-top: 16px;
}
