:root {
    --base-font-size: 16px;
    --base-color: #800080;
    --assort-color: #c0c;
    --white: #fff;
    --gray-lightest: #fafafa;
    --gray-lighter: #ccc;
    --gray-light: #999;
    --gray: #666;
    --gray-deep: #333;
    --black-light: #212121;
    --black: #000;
    --transparent: rgba(0, 0, 0, 0);
}
