.Header {
    position: relative;
    z-index: 1;
    padding: 30px 32px 32px 32px;
    background-color: var(--black-light);
    /* background-image: linear-gradient(top, #373737, var(--black)); */
}

/*
.Header__github-buttons {
    position: absolute;
    top: 8px;
    right: 172px;
    z-index: 2;
}

.Header__github-buttons > iframe {
    border: none;
    width: 80px;
}

.Header__forkme > a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 10px 50px 10px 10px;
    font-weight: lighter;
    color: var(--white);
    text-decoration: none;
    background-color: var(--assort-color);
    background-image: url(images/blacktocat.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    box-shadow: 0 0 10px rgba(var(--black), 0.5);
    border-radius: 0 0 2px 2px;
    transition: background-color ease 0.6s;
}

.Header__forkme > a:hover {
    background-color: var(--base-color);
}
*/

.Header__title {
    font-size: 4rem;
    font-weight: lighter;
    color: var(--assort-color);
    text-shadow: -1px -1px 1px var(--black);
}

.Header__subtitle {
    font-size: 2rem;
    font-weight: 300;
    color: var(--assort-color);
    text-shadow: -1px -1px 1px var(--black);
}
