.Routes {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.Routes > section {
    margin: 0 auto;
    width: 70%;
}

.Routes > nav {
    margin-right: 32px;
}
