@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

[hidden] {
  display: none !important;
}

body {
  min-width: 320px;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #999;
  background-color: #fafafa;
}

header {
  padding: 8px 0;
  text-align: center;
  background-color: #212121;
}

header h1 {
  margin-bottom: 8px;
  font-family: "Lucida Grande", Calibri, Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: lighter;
  color: #c0c;
  text-shadow: -1px -1px 1px #000;
}

header a img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

main {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  max-width: 1280px;
  margin: 48px auto;
}

main a[href="https://xsound.jp/docs/"] {
  display: inline-block;
  padding: 12px 24px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #c0c;
  transition: background-color 0.4s ease;
}

footer a {
  color: #c0c;
  text-decoration: none;
  transition: color ease 0.6s;
}

main a:hover {
  background-color: #800080;
}

main a:focus {
  outline: 1px dotted #800080;
}

#code-editor-container {
  min-height: 100vh;
  min-height: 100dvh;
}

.buttons {
  display: flex;
  gap: 12px;
  align-items: stretch;
}

#result-text {
  max-width: 720px;
  margin: 12px 16px;
  white-space: pre-line;
}

#melody-mml,
#bass-mml {
  max-width: 900px;
  max-height: 92px;
  overflow-y: auto;
  color: #ccc;
}

#melody-mml > span:last-child,
#bass-mml > span:last-child {
  color: #000;
}

#melody-note,
#bass-note {
  overflow-x: auto !important;  /* overwrite styles by abcjs */
}

h2 {
  font-family: "Lucida Grande", Calibri, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: lighter;
  color: #999;
}

fieldset {
  display: grid;
  grid-template-rows: repeat(7, auto);
  grid-template-columns: repeat(3, auto);
  gap: 12px;
  border: none;
}

legend {
  grid-area: 1 / 1 / 2 / 4;
  font-size: 24px;
  text-transform: uppercase;
}

#button-start {
  grid-area: 2 / 1 / 3 / 2;
}

#button-stop {
  grid-area: 2 / 2 / 3 / 3;
}

#button-uploader {
  grid-area: 2 / 3 / 3 / 4;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button {
  min-height: 48px;
  padding: 0 32px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #c0c;
  border: none;
  transition: background-color 0.4s ease;
}

button:hover {
  background-color: #800080;
}

button:focus {
  outline: 1px dotted #800080;
}

fieldset label {
  display: block;
  width: 100%;
}

select {
  grid-area: 3 / 1 / 4 / 4;
  width: 100%;
  padding: 12px 16px;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #eee;
  transition: background-color 0.4s ease;
}

select:hover {
  background-color: #eee;
}

select:focus {
  outline: 1px dotted #999;
}

#select-code {
  width: auto;
  padding: 12px 72px;
  color: #666;
  background-color: #fff;
}

input[type="file"] {
  cursor: pointer;
}

input[type="file"]:focus {
  outline: 1px dotted #999;
}

input[type="text"],
textarea {
  padding: 12px 16px;
  background-color: #fff;
  border: 2px solid #eee;
  transition: background-color 0.4s ease;
}

textarea {
  box-sizing: border-box;
  display: block;
  grid-area: 4 / 1 / 5 / 4;
  width: 100%;
  height: 10rem;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  color: #666;
}

input[type="text"]:focus,
textarea:focus {
  outline: 1px dotted #999;
  background-color: #eee;
}

#button-set-parameters {
  grid-area: 5 / 1 / 6 / 4;
}

.visualizer-container {
  max-width: 375px;
  overflow-x: auto;
}

.visualizer-container:nth-of-type(1) {
  grid-area: 6 / 1 / 7 / 4;
}

.visualizer-container:nth-of-type(2) {
  grid-area: 7 / 1 / 8 / 4;
}

.visualizer-container > svg {
  background-color: #000;
}

footer {
  padding: 64px;
  text-align: center;
  background-color: #212121;
}

footer > p {
  margin: 16px 0;
  color: #fafafa;
}

footer a:hover {
  color: #800080;
  text-decoration: underline;
}
