@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

[hidden] {
    display: none !important;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #999;
    line-height: 1.5;
    background-color: #fafafa;
    min-width: 320px;
}

header {
    padding: 32px;
    background-color: #212121;
    text-align: center;
}

header h1 {
    margin: 16px 0;
    font-family: "Lucida Grande", "Calibri", Helvetica, Arial, sans-serif;
    font-size: 4rem;
    font-weight: lighter;
    color: #c0c;
    text-shadow: -1px -1px 1px #000;
}

main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    margin: 48px auto;
    max-width: 1280px;
    width: 90%;
}

main a {
    display: inline-block;
    padding: 12px 24px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #c0c;
    transition: background-color 0.4s ease;
}

main a:hover {
    background-color: #800080;
}

main a:focus {
    outline: 1px dotted #800080;
}

.CodeMirror {
    min-width: 932px;
    height: auto;
    font-family: "Source Code Pro", monospace;
    color: #666;
}

fieldset {
    margin-left: 24px;
    border: none;
}

legend {
    font-size: 24px;
    text-transform: uppercase;
}

fieldset > div {
    margin-top: 12px;
}

fieldset > div:last-child {
    overflow-x: scroll;
    width: 368px;
}

button {
    cursor: pointer;
    border: none;
    padding: 12px 16px;
    color: #fff;
    background-color: #c0c;
    text-transform: uppercase;
    transition: background-color 0.4s ease;
}

button:hover {
    background-color: #800080;
}

button:focus {
    outline: 1px dotted #800080;
}

select {
    -webkit-appearance: none;
    cursor: pointer;
    border: 2px solid #eee;
    padding: 12px 16px;
    width: 100%;
    background-color: #fff;
    transition: background-color 0.4s ease;
}

select:hover {
    background-color: #eee;
}

select:focus {
    outline: 1px dotted #999;
}

input[type="file"] {
    cursor: pointer;
}

input[type="file"]:focus {
    outline: 1px dotted #999;
}

input[type="text"] {
    border: 2px solid #eee;
    padding: 12px 16px;
    background-color: #fff;
    transition: background-color 0.4s ease;
}

input[type="text"]:focus {
    outline: 1px dotted #999;
    background-color: #eee;
}

canvas {
    background-color: #000;
}

footer {
    padding: 64px;
    background-color: #212121;
    text-align: center;
}

footer > p {
    margin: 16px 0;
    color: #fafafa;
}

footer a {
    color: #c0c;
    text-decoration: none;
    transition: color ease 0.6s;
}

footer a:hover {
    color: #800080;
    text-decoration: underline;
}
