.Nav {
}

.Nav [aria-hidden="true"] {
    max-height: 0;
    overflow: hidden;
    transition: max-height ease 0.6s;
}

.Nav [aria-hidden="false"] {
    max-height: 1000px;
    overflow: hidden;
    transition: max-height ease 0.6s;
}

.Nav [aria-expanded="true"],
.Nav .-selected {
    color: var(--base-color);
}

.Nav h2 {
    margin: 16px 0 0;
}

.Nav h2:first-of-type a,
.Nav button {
    cursor: pointer;
    outline: none;
    margin: 0;
    border: none;
    padding: 0;
    background: none;
    font-size: 1.5rem;
    color: var(--assort-color);
    transition: color ease 0.6s;
}

.Nav h2:first-of-type a:hover,
.Nav button:hover {
    color: var(--base-color);
    text-decoration: none;
}

.Nav dt {
    margin: 8px 0;
    font-size: 1.25rem;
}

.Nav dd {
    margin: 4px 0;
}
