.Nav {
}

.Nav [aria-hidden="true"] {
    max-height: 0;
    overflow: hidden;
    transition: max-height ease 0.6s;
}

.Nav [aria-hidden="false"] {
    max-height: 1000px;
    overflow: hidden;
    transition: max-height ease 0.6s;
}
